<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!noInfo && !links"><em>Loading...</em></p>

<p *ngIf="noInfo">You have no links yet :(</p>

<table class='table' *ngIf="links">
    <thead>
        <tr>
            <th>Date</th>
            <th>Source Link</th>
            <th>ShortLink</th>
            <th>Clicks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let link of links">
            <td>{{ link.creationDate }}</td>
            <td>{{ link.sourceLink }}</td>
            <td>{{ link.shortLink }}</td>
            <td>{{ link.jumpsCount }}</td>
        </tr>
    </tbody>
</table>
