<style>
    h1 {
        margin-top:50px;
    }
    .main-form {
        margin-top:30px;
    }
    .main-input {
        width:300px;
    }
</style>
<h1>Hello, make your own link!</h1>
<form class="form-inline main-form" [formGroup]="mainForm" (ngSubmit)="onSubmit(mainForm.value)"  >
    <div class="form-group">        
        <input [formControl]="sourceLink" type="text" class="form-control main-input" id="sourceLink" placeholder="Past the link to shorten it">       
    </div> 
    <button type="submit" class="btn btn-primary">Generate</button>
</form>
<div *ngIf="sourceLink.hasError('required')" class="ui error message">* link is required</div>
<p *ngIf="!shortLinkResult && generating"><em>One sec please..</em></p>
<p class="result" *ngIf="shortLinkResult">Your link is <a href="/{{ shortLinkResult.shortLink }}">http://bitlyweb.azurewebsites.net/{{ shortLinkResult.shortLink }}</a></p>
